$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

button.draw {
  background-image: url('../images/pencil.png');
  background-size: 100%;
  width: 53px;
  height: 53px;
}

button.erase {
  background-image: url('../images/eraser.png');
  background-size: 100%;
  width: 53px;
  height: 53px;
}

button.save {
  background-image: url('../images/save.png');
  background-size: 100%;
  width: 53px;
  height: 53px;
}